@charset "UTF-8";
#searchbar{
	margin: auto;
	width : 80%;
	border : none;
}
#searchbox{
	width: 50%;
	border-radius: 24px;
	background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 50px auto;
}
#searchoption{
	width: 100px;
	border-radius: 24px;
	background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
}
#userMainContainer{
	border : 1px solid black;
	width : 80%;
	height: 1000px;
	margin: auto;
}

#btnSearch{
	border-radius: 24px;
}
#searchResult{
	border : 1px solid black;
	width : 80%;
	margin: auto;
}
#resultTable{
	border : 1px solid black;
	width : 100%;
	text-align: center;
	margin: auto;
}
.listNum{
	border : 1px solid black;
	width : 10%;
	text-align: center; 
}
.listName{
	border : 1px solid black;
	width : 40%;
	text-align: center;
}
.listAddress{
	border : 1px solid black;
	width : 50%;
	text-align: center;
}
#tableCase{
	border : 1px solid red;
	width: 80%;
	margin: auto;
	text-align: center;
}














