@charset "UTF-8";
#searchbar{
	margin: auto;
	width : 80%;
	border : none;
}
#searchbox{
	width: 50%;
	border-radius: 24px;
	background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 50px auto;
}
#searchoption{
	width: 100px;
	border-radius: 24px;
	background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
}
#userMainContainer{
	border : 1px solid black;
	width : 80%;
	height: 1000px;
	margin: auto;
}

#btnSearch{
	border-radius: 24px;
	mar
}