<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sports.matching.Schedule_Mapper">
	<!--관리자 일정등록 -->
	<insert id="registerSchedule" parameterType="SCDto">
		INSERT INTO SCHEDULE(SCHEDULE_ID, STADIUM_CODE, GAME_DATE)
		VALUES(SCHEDULE_SEQ.NEXTVAL,#{stadium_code}, TO_DATE(#{game_date},'YYYYMMDDHH24'))
	</insert>

	<!-- 홈팀 일정등록 -->
	<update id="homeRegisterSchedule" parameterType="SDto">
		UPDATE SCHEDULE
		SET HOME_RESERVATION = 'N'
		WHERE TO_CHAR(GAME_DATE,'YYYYMMDDHH24') = #{game_date} AND STADIUM_CODE = #{stadium_code}
	</update>

	<!-- 홈팀 최종등록 -->
	<update id="homeConfirmSchedule" parameterType="SCDto">
		UPDATE SCHEDULE
		SET HOME_RESERVATION = 'Y', HOME_TEAM = #{home_team}
		WHERE SCHEDULE_ID = #{schedule_id}
	</update>
	<!-- 어웨이팀 일정등록 -->
	<update id="awayRegisterSchedule" parameterType="SDto">
		UPDATE SCHEDULE
		SET AWAY_RESERVATION = 'N'
		WHERE TO_CHAR(GAME_DATE,'YYYYMMDDHH24') = #{game_date} AND STADIUM_CODE = #{stadium_code}
	</update>
	<!-- 어웨이팀 최종등록 -->
	<update id="awayConfirmSchedule" parameterType="SCDto">
		UPDATE SCHEDULE
		SET AWAY_RESERVATION = 'Y', AWAY_TEAM = #{away_team}
		WHERE SCHEDULE_ID = #{schedule_id}
	</update>
	<!-- 홈팀 일정취소 -->
	<update id="homeCancel" parameterType="java.lang.Integer">
		UPDATE SCHEDULE
		SET HOME_CANCEL = 'N'
		WHERE SCHEDULE_ID = #{schedule_id}
	</update>
	<!-- 홈팀 최종취소 -->
	<update id="homeCancelConfirm" parameterType="java.lang.Integer">
		UPDATE SCHEDULE
		SET HOME_CANCEL = '', HOME_RESERVATION = '', HOME_TEAM = ''
		WHERE SCHEDULE_ID = #{schedule_id}
	</update>
	<!-- 어웨이팀 일정취소 -->
	<update id="awayCancel" parameterType="java.lang.Integer">
		UPDATE SCHEDULE
		SET AWAY_CANCEL = 'N'
		WHERE SCHEDULE_ID = #{schedule_id}
	</update>
	<!-- 어웨이팀 최종취소 -->
	<update id="awayCancelConfirm" parameterType="java.lang.Integer">
		UPDATE SCHEDULE
		SET AWAY_CANCEL = '', AWAY_RESERVATION = '', AWAY_TEAM= ''
		WHERE SCHEDULE_ID = #{schedule_id}
	</update>
	<!-- 일정 삭제 -->
	<delete id="deleteSchedule" parameterType="SCDto">
		DELETE FROM SCHEDULE
		WHERE STADIUM_CODE =#{stadium_code} AND GAME_DATE = TO_DATE(#{game_date},'YYYYMMDDHH24')
	</delete>
	<!-- 홈팀 신청 거절 -->
	<update id="denyHomeSchedule" parameterType="java.lang.Integer">
		UPDATE SCHEDULE
		SET HOME_RESERVATION = ''
		WHERE SCHEDULE_ID = #{schedule_id}
	</update>
	<!-- 어웨이팀 신청 거절 -->
	<update id="denyAwaySchedule" parameterType="java.lang.Integer">
		UPDATE SCHEDULE
		SET AWAY_RESERVATION = ''
		WHERE SCHEDULE_ID = #{schedule_id}
	</update>
	<!-- 일정 전체 조회 -->
	<select id="selectAllSchedule" parameterType="SCDto" resultType="SCDto">
		SELECT TO_CHAR(GAME_DATE, 'HH24') GAME_DATE, HOME_TEAM, AWAY_TEAM
		FROM SCHEDULE
		WHERE TO_CHAR(GAME_DATE,'YYYYMMDD') = #{game_date} AND STADIUM_CODE =
		#{stadium_code}
		ORDER BY GAME_DATE
	</select>
	<!-- 일정 상세 조회 -->
	<select id="selectSchedule" parameterType="SCDto" resultType="SCDto">
		SELECT NVL(HOME_TEAM,'홈팀 없음') HOME_TEAM, NVL(AWAY_TEAM, '어웨이팀 없음') AWAY_TEAM, HOME_RESERVATION, AWAY_RESERVATION
		FROM SCHEDULE
		WHERE GAME_DATE = TO_DATE(#{game_date},'YYYYMMDDHH24') AND
		STADIUM_CODE=#{stadium_code}
	</select>
	<select id="selectRequestReservation" parameterType="SCDto" resultType="SCDto">
		SELECT SCHEDULE_ID, STADIUM_CODE, HOME_TEAM, AWAY_TEAM, GAME_DATE
		FROM SCHEDULE
		WHERE STADIUM_CODE = #{stadium_code} AND TO_CHAR(GAME_DATE,'YYYYMMDD') = #{game_date} 
		AND (HOME_RESERVATION = 'N' OR AWAY_RESERVATION ='N')
		ORDER BY GAME_DATE
	</select>
	<select id="selectRequestCancel" parameterType="SCDto" resultType="SCDto">
		SELECT SCHEDULE_ID, STADIUM_CODE, HOME_TEAM, AWAY_TEAM, GAME_DATE, HOME_CANCEL, AWAY_CANCEL
		FROM SCHEDULE
		WHERE STADIUM_CODE = #{stadium_code} AND TO_CHAR(GAME_DATE,'YYYYMMDD') = #{game_date} 
		AND (HOME_CANCEL = 'N' OR AWAY_CANCEL ='N')
		ORDER BY GAME_DATE
	</select>
	<select id="selectAllReserved" parameterType="SCDto" resultType="SCDto">
		SELECT SCHEDULE_ID, STADIUM_CODE,GAME_DATE ,HOME_TEAM, AWAY_TEAM, HOME_RESERVATION, AWAY_RESERVATION, HOME_CANCEL, AWAY_CANCEL
		FROM SCHEDULE 
		WHERE (HOME_TEAM = #{home_team} OR AWAY_TEAM = #{away_team}) AND (HOME_RESERVATION ='Y' OR AWAY_RESERVATION='Y')
	</select>
</mapper>
